geopy==2.4.1
h5py==3.12.1
hyperopt==0.2.7
matplotlib==3.10.0
neptune==1.13.0
numpy==1.25.2
pandas==2.2.3
pygmt==0.13.0
scikit-learn==1.6.0
scipy==1.14.1
torch==2.5.1
torchaudio==2.5.1
tqdm==4.67.1
torchvision==0.20.1
torchinfo==1.8.0
tensorboard==2.18.0
torch-tb-profiler==0.4.3
cupy-cuda12x==13.3.0